<div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lanches
    </button>
    <div class="dropdown-menu">
        @foreach (var categoria in Model) {
            <a class="dropdown-item" asp-controller="Lanche" asp-action="List" 
               asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>            
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Lanche" asp-action="List" asp-route-categoria="">Todos os Lanches</a>        
    </div>
</div>